.location {
    padding: 180px 0px;
    position: relative;

    &::before {
        content: 'V';
        top: 180px;
        right: calc(50% + 555px);
        transform: translate(50%, 0%);
        line-height: 1;
        z-index: -1;

        @include decorNumber;
    }

    @include mediaTablet {
        padding: 90px 0;
    }

    @include mediaPhone {
        padding: 30px 0;
    }
}
.location__title {
    margin-bottom: 88px;
    
    @include mediaTablet {
        margin-bottom: 44px;
    }
}
// .location__map {
// }
.map {
    height: 358px;
    background: #626262;
}